@import "tailwindcss";
#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* .swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
} */
 
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  /* top: 100%;
  transform: translateY(-100%); */
   width: 40px !important; 
  height: 40px; 
  background-color: #1A1A2E; 
  border-radius: 100% !important; 
  
    box-shadow: 0px 0px 6px 2px #c8e232 !important;
  
  
  transition: all 0.5s ease-in-out;
}


.swiper-button-prev::after, 
.swiper-button-next::after {
  font-size: 14px !important; 
  color: #dde32e; 
}


/* .swiper-button-prev:hover, 
.swiper-button-next:hover {
  background-color: #1A1A2E; 
} */
/* .swiper-button-prev:hover, 
.swiper-button-next:hover {
  /* box-shadow: 0px 0px 6px 2px #c8e232 !important; */

  /* scale: 1.5; */
 

.swiper-button-prev:hover::after, 
.swiper-button-next:hover::after {
  color: #dde32e; 
  font-weight:bold ;
}


.swiper-button-prev {
  left: 10px;
}


.swiper-button-next {
  right: 10px;
}
.custom-pagination .ant-pagination-prev .anticon,
.custom-pagination .ant-pagination-next .anticon {
  color: white !important;
}

.custom-pagination .ant-pagination-prev svg,
.custom-pagination .ant-pagination-next svg {
  fill: white !important;
}
.ant-pagination-item-ellipsis {
  color: white !important;
}
.ant-pagination-prev:hover .anticon,
.ant-pagination-next:hover .anticon {
  font-weight: bold;
  transform: scale(1.2); 
}


.ant-pagination-prev:hover svg,
.ant-pagination-next:hover svg {
  fill: white !important;
}
@media (max-width: 640px) {
  .ant-pagination-prev,
  .ant-pagination-next {
      min-width: 15px !important;
      height: 15px !important;
      line-height: 15px !important;
      font-size: 8px !important;

  }
}

